# CSMODEL
### Project 2 - Group 5
Members:
- Alon-alon, Jason Miguel E.
- Escalona, Jose Miguel A.
- Llorca, Marcelino Francis S.

### 1. Dataset Representation

The dataset that was chosen for this project was *Dataset3.csv*. It could be desribed that the dataset shows what seems like **an association type of problem**, where **each column may represent an item or word from a store or a document, with each row possibly consisting either a customer or document.**

In [1]:
import numpy as np #NUMPY
import pandas as pd #PANDAS
import matplotlib.pyplot as plt #MATPLOTLIB

In [2]:
main_df = pd.read_csv('Dataset3.csv')
main_df

,Unnamed: 0,0,1,2,3,4,5,6,7,8,...,290,291,292,293,294,295,296,297,298,299
0,0,1.0,5.0,4.0,NaN,1.0,3.0,4.0,1.0,5.0,...,3.0,5.0,NaN,2.0,NaN,1.0,4.0,5.0,3.0,4.0
1,1,NaN,NaN,5.0,3.0,4.0,1.0,4.0,NaN,NaN,...,5.0,4.0,2.0,1.0,1.0,1.0,2.0,3.0,5.0,4.0
2,2,2.0,4.0,1.0,NaN,NaN,4.0,3.0,NaN,4.0,...,3.0,2.0,4.0,NaN,3.0,2.0,4.0,5.0,1.0,4.0
3,3,3.0,5.0,1.0,5.0,1.0,3.0,5.0,3.0,2.0,...,1.0,2.0,2.0,2.0,5.0,4.0,NaN,NaN,3.0,NaN
4,4,NaN,NaN,5.0,3.0,2.0,1.0,4.0,NaN,4.0,...,3.0,1.0,1.0,2.0,2.0,2.0,1.0,2.0,NaN,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,95,1.0,5.0,5.0,2.0,NaN,NaN,3.0,2.0,4.0,...,4.0,1.0,NaN,5.0,NaN,2.0,5.0,4.0,3.0,4.0
96,96,3.0,4.0,NaN,3.0,NaN,3.0,NaN,1.0,3.0,...,4.0,3.0,1.0,4.0,5.0,5.0,3.0,2.0,4.0,NaN
97,97,2.0,2.0,2.0,NaN,4.0,1.0,1.0,4.0,5.0,...,4.0,4.0,5.0,2.0,5.0,4.0,2.0,NaN,4.0,4.0
98,98,1.0,5.0,NaN,NaN,1.0,5.0,5.0,4.0,4.0,...,3.0,2.0,5.0,4.0,NaN,3.0,3.0,5.0,3.0,2.0
99,99,NaN,1.0,4.0,1.0,2.0,4.0,NaN,1.0,1.0,...,4.0,5.0,3.0,NaN,2.0,NaN,NaN,5.0,NaN,NaN